/* GERAL */
* { font-family: roboto; }

body {
	margin: 0;
	background-color: #CCC;
}


/* HEADER */
header {
	background-color: #05F;
	padding: 3px;
	margin-bottom: 10px;
}

#headerTexto {
	text-align: center;
	font-size: 40px;
	color: white;
}


/* ANIME */
.anime {
	background-color: #FFF;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 10px #0006;
}

.tituloAnime { font-size: 27px; }
.infoAnime { text-align: center; }
.filler { font-size: 60px; }
.num { font-weight: normal; }
.infoAnime * { 
	text-align: center;
	margin: 10px 0; 
	padding: 10px 0;
}


/* MOBILE */
@media only screen and (max-width: 450px) {
	.anime .imagem {
		height: 100%;
		width: 100%;
	}	

	#headerTexto {
		font-size: 24px;
	}
}


/* PC e Tablet */
@media only screen and (min-width: 451px) {
	div.anime {
		width: 635px;
		float: right;
		overflow: auto;
	}
	
	.anime { height: 320px; overflow; }
	.anime:nth-child(even) { float: left; }
	.anime .imagem { float: left; }

	.info {
		float: right;
		width: 60%;
	}
}